.pg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}
.frm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rw{
    width:50%;
    margin:0.5rem;
}
.modal-inpt{
    margin: 5px;
}